/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
/* layout */
.background-image {
    height: 100vh;
    background-image: url(../img/mine.jpg);
}

.header-color {
    background-color: rgb(234 234 234);
}

/* utilities */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* HEADER */
.info-chat {
    justify-content: space-between;
    width: 100%;
    height: fit-content;

    /* debug */
    /* height: 50px; */
}

.first-chat, .icons-chat {
    display: none;

    /* debug */
    background-color: aqua;
    width: 50px;
    height: 50px;
}

.michele {
    align-items: center;

    /* debug */
    /* height: 50px; */
    /* width: 60%; */
    /* background-color: red; */
}

.avatar1 {
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.michele-access {
    padding: 10px;
}

.last-access, .chevron-time{
    font-size: 0.8rem;
    color: rgb(119 124 125);
}

.icons {
    display: none;

    /* debug */
    width: 20%;
    height: 50px;
    background-color: aqua;
}

@media screen and (min-width: 768px) {
    .first-chat, .icons {
        display: block;
    }

    .michele {
        /* width: 30%; */
    }
}

@media screen and (min-width: 992px) {
    .chats {
        justify-content: space-between;
    }

    .icons-chat {
        display: block;
    }
}

/* MAIN */
/* colonna delle chat */

.container-chats {
    background-color: rgb(255 255 255);
    display: none;

    /* debug */
    /* padding: 25px; */
}

.notifications {
    background-color: rgb(142 218 252);
    display: none;

    /* debug */
    height: 50px;
}

.find-chat {
    display: none;

    /* debug */
    height: 25px;
    border: 1px solid black;
}

.chat-names {
    display: none;
    overflow-y: scroll;

    /* debug */
    height: 75%;
    border: 1px solid red;
    /* flex-basis: 604px; */
}

/* chat con messaggi */
.container-message-bar {
    flex-direction: column;

    /* debug */
    /* height: 100%; */
}

.container-message {
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
}

.row-first-message {
    justify-content: flex-end;
}

.first-message {
    background-color:  rgb(213 249 186);
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 20px;
    width: 70%;
}
    
.second-message {
    background-color: rgb(255 255 255);
    border-radius: 10px;
    padding: 10px;
    width: 70%;
}

.chevron-time {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.write-bar {
    margin-top: auto;
    background-color: rgb(243 238 234);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

    /* debug */
    /* height: 50px; */
    /* width: 100%; */
    /* border: 1px solid green; */
    /* text-align: center; */
}

.write-message {
    height: 90%;
    width: 95%;
    padding: 16px;
    border: none;
    border-radius: 8px;

    /* debug */
    /* margin: 10px; */
}

@media screen and (min-width: 768px) {
    .container-chats {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .container-message-bar {
        width: 70%;
    }

    .container-chats {
        width: 30%;
        padding: 0;
    }

    .notifications, .find-chat, .chat-names {
        display: block;
    }
}